
body{
    background-image: url('imagenes/Montaña\ Escenario.jpg');
    background-size: cover;
}
.logotipo{
    width: 150px;
    height: 150px;

}
.navbar {
    position: relative;
    z-index: 1050;
}
.navbar-collapse {
    background: rgb(162, 124, 162);
}
.barra-navegacion{
    height: 155px;
    font-weight: bold;
    font-size: 18px;
    gap: 20px;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.nav-item .nav-link{
    color: #FFFFFF;
}

.carousel-item{
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

header{
    background-color: rgb(162, 124, 162);
}

.card{
    background-color: rgb(175, 98, 175, 0.8) !important;
}

.card p{
    color: #FFFFFF;
    font-size: 16px;
}
.card h2{
    color: #FFFFFF;
    margin-bottom: 15px;
}
@keyframes botar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.card {
    transition: box-shadow 0.3s ease;
}

.card:hover {
    animation: botar 1.5s infinite alternate ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.redes-sociales{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    background-color: rgba(162, 124, 162, 0.7);
}
.fa-lg{
    font-size: 2.25em !important;
}

.fa-lg:hover{
    color: #000000;
}

